{% extends 'base.html.twig' %}

{% block body %}
    <h1>QR Code du proverbe</h1>
    <p>{{ proverbe.content }} — {{ proverbe.author }}</p>


    <img src="{{ proverbe.qrCode }}" alt="QR Code du proverbe" />


{% endblock %}

{% block title %}

{% endblock %}

