{% extends 'base.html.twig' %}

{% block body %}
    <h1>QR Code du proverbe</h1>
    <p>{{ proverbe.content }} — {{ proverbe.author }}</p>

    <img src="data:image/png;base64,{{ qrCode }}" alt="QR Code du proverbe" />

    <a href="{{ path('app_proverbe_index') }}">Retour à la liste</a>


{% endblock %}

{% block title %}

{% endblock %}

