{% block body %}
    <h1 style="text-align: center; font-size: 3rem; margin-bottom: 2rem;">Proverbe</h1>

    <table class="table" style="margin: 0 auto; font-size: 1.5rem; text-align: center;">
        <tbody>

        <tr>
            <td style="font-weight: bold; font-size: 2rem;">{{ proverbe.content }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
